.container {
  display: flex;
  /* flex-direction: column; */
  flex-flow: row wrap;
  align-items: center;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container li {
  list-style-type: none;
}
.nav-image {
  width: 20%;
}
.container a {
  display: inline-block;
  padding: 18px;
  margin: 0 18px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
a:visited,
Link:visited,
a:link,
Link:link {
  text-decoration: none;
  color: black;
}
